{% load static %}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>LeadHunter</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'crm/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crm/css/animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crm/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crm/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crm/css/style.css' %}">



    <!-- Font -->
    <link rel="stylesheet" href="{% static 'crm/font/fonts.css' %}">

    <!-- Icon -->
    <link rel="stylesheet" href="{% static 'crm/icon/style.css' %}">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="{% static 'crm/images/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'crm/images/favicon.png' %}">

</head>

<body class="body">
    {% block content %}

    {% endblock %}
    <!-- Javascript -->
    <script src="{% static 'crm/js/jquery.min.js' %}"></script>
    <script src="{% static 'crm/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'crm/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'crm/js/main.js' %}"></script>

</body>

</html>