<div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
      <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1yztbdb x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
          <ul class="_a9ym">
            <div role="button" class="x1qjc9v5 x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x78zum5 xdt5ytf x2lah0s xk390pu xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xggy1nq x11njtxf" tabindex="0">
              <li class="_a9zj _a9zl">
                <div class="_a9zm">
                  <div class=" _a9zo">
                    <div class="">
                      <div>
                        <div class="_aarf _a9zp" aria-disabled="true" role="button" tabindex="-1">
                          <canvas class="_aarh" height="47" width="47" style="left: -5px; position: absolute; top: -5px; height: 42px; width: 42px;"></canvas>
                          <a class="x1i10hfl x1qjc9v5 xjbqb8w xjqpnuy xa49m3k xqeqjp1 x2hbi6w x13fuv20 xu3j5b3 x1q0q8m5 x26u7qi x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk x78zum5 xdl72j9 xdt5ytf x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 xzfakq x7imw91 x1j8hi7x x5aw536 x194ut8o x1vzenxt xd7ygy7 xt298gk xynf4tj xdspwft x1r9ni5o x1d52zm6 xoiy6we x15xhmf9 x1qj619r x15tem40 x1xrz1ek x1s928wv x1n449xj x2q1x1w x1j6awrg x162n7g1 x1m1drc7 x1ypdohk x4gyw5p _a6hd" href="/1alimkin/" role="link" tabindex="0" style="height: 32px; width: 32px;">
                            <img alt="Фото профиля 1alimkin" class="xpdipgo x972fbf xcfux6l x1qhh985 xm0m39n xk390pu x5yr21d xdj266r x11i5rnm xat24cr x1mh8g0r xl1xv1r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3" crossorigin="anonymous" draggable="false" src="https://instagram.ffru9-1.fna.fbcdn.net/v/t51.2885-19/419912541_401929685586766_6835441589528468490_n.jpg?stp=dst-jpg_e0_s150x150&amp;_nc_ht=instagram.ffru9-1.fna.fbcdn.net&amp;_nc_cat=110&amp;_nc_ohc=SUj-KdUtAoUAX8uXX1a&amp;edm=AFDWGO4BAAAA&amp;ccb=7-5&amp;oh=00_AfDPEBI1pBqH1jCPg5YaFOku0RTUqGrsu4HBHOdQMnF_tQ&amp;oe=65E50915&amp;_nc_sid=7b9ede">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="_a9zr">
                      <h3 class="_a9zc">
                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw3qccf x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                          <span class="xt0psk2">
                            <div>
                              <a class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x1f6kntn xwhw2v2 xl56j7k x17ydfre x2b8uid xlyipyv x87ps6o x14atkfc xcdnw81 x1i0vuye xjbqb8w xm3z3ea x1x8b98j x131883w x16mih1h x972fbf xcfux6l x1qhh985 xm0m39n xt0psk2 xt7dq6l xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 x1n5bzlp xqnirrm xj34u2y x568u83" href="/1alimkin/" role="link" tabindex="0">1alimkin</a>
                            </div>
                          </span>
                        </div>
                      </h3>
                      <div class="_a9zs">
                        <span class="_ap3a _aaco _aacu _aacx _aad7 _aade" dir="auto">эй а почему она мне фак показывает</span>
                      </div>
                      <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x12nagc x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                        <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd xo1l8bm x1roi4f4 x1s3etm8 x676frb x10wh9bi x1wdrske x8viiok x18hxmgj" dir="ltr" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 16px;">
                          <a class="x1i10hfl xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a9zg _a6hd" href="/p/C34yx51szOz/c/17913134861814620/" role="link" tabindex="0">
                            <time class="_a9ze _a9zf" datetime="2024-02-28T16:18:12.000Z" title="28 февраль 2024 г.">1 дн.</time>
                          </a>
                          <button class="_a9ze">
                            <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye x1fhwpqd x1s688f x1roi4f4 x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 16px;">"Нравится": 2</span>
                          </button>
                          <button class="_a9ze">
                            <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye x1fhwpqd x1s688f x1roi4f4 x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 16px;">Ответить</span>
                          </button>
                          <div class="x9f619 xjbqb8w x1rg5ohu x168nmei x13lgxp2 x5pf9jr xo71vjh x1emribx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"></div>
                          <div class="_a9ze">
                            <div class=" _a9zi">
                              <div class="x1i10hfl x972fbf xcfux6l x1qhh985 xm0m39n x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk x78zum5 xl56j7k x1y1aw1k x1sxyh0 xwib8y2 xurb0ha xcdnw81" role="button" tabindex="0">
                                <div class="x6s0dn4 x78zum5 xdt5ytf xl56j7k">
                                  <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 24px; width: 24px;">
                                    <svg aria-label="Действия с комментарием" class="x1lliihq x1n2onr6 x1roi4f4" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                      <title>Действия с комментарием</title>
                                      <circle cx="12" cy="12" r="1.5"></circle>
                                      <circle cx="6" cy="12" r="1.5"></circle>
                                      <circle cx="18" cy="12" r="1.5"></circle>
                                    </svg>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                  <span class="_a9zu">
                    <div class="xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x1ypdohk x15bjb6t x1a2a7pz xexx8yu x4uap5 x18d9i69 xkhd6sd">
                      <div class="x1i10hfl x972fbf xcfux6l x1qhh985 xm0m39n x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk x78zum5 xl56j7k xcdnw81 xexx8yu x4uap5 x18d9i69 xkhd6sd" role="button" tabindex="0">
                        <div class="x6s0dn4 x78zum5 xdt5ytf xl56j7k">
                          <span class="">
                            <svg aria-label="Нравится" class="x1lliihq x1n2onr6 xyb1xck" fill="currentColor" height="12" role="img" viewBox="0 0 24 24" width="12">
                              <title>Нравится</title>
                              <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path>
                            </svg>
                          </span>
                        </div>
                      </div>
                    </div>
                  </span>
                </div>
              </li>
            </div>
            <li>
              <ul class="_a9yo">
                <li class="_a9yg">
                  <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xdj266r x1yztbdb x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                    <button class=" _acan _acao _acas _aj1- _ap30" type="button">
                      <div class="_a9yh"></div>
                      <span class="_a9yi">Скрыть ответы</span>
                    </button>
                  </div>
                </li>
                <div role="button" class="x1qjc9v5 x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x78zum5 xdt5ytf x2lah0s xk390pu xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xggy1nq x11njtxf" tabindex="0">
                  <li class="_a9zj _a9zl _a9ye">
                    <div class="_a9zm">
                      <div class=" _a9zo">
                        <div class="">
                          <div>
                            <div class="_aarf _aarg _a9zp" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                              <canvas class="_aarh" height="47" width="47" style="left: -5px; position: absolute; top: -5px; height: 42px; width: 42px;"></canvas>
                              <span class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 xzfakq x7imw91 x1j8hi7x x5aw536 x194ut8o x1vzenxt xd7ygy7 xt298gk xynf4tj xdspwft x1r9ni5o x1d52zm6 xoiy6we x15xhmf9 x1qj619r x15tem40 x1xrz1ek x1s928wv x1n449xj x2q1x1w x1j6awrg x162n7g1 x1m1drc7" role="link" tabindex="-1" style="height: 32px; width: 32px;">
                                <img alt="Фото профиля around.kg" class="xpdipgo x972fbf xcfux6l x1qhh985 xm0m39n xk390pu x5yr21d xdj266r x11i5rnm xat24cr x1mh8g0r xl1xv1r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3" crossorigin="anonymous" draggable="false" src="https://instagram.ffru9-1.fna.fbcdn.net/v/t51.2885-19/386177705_297285769781739_6618333805670101691_n.jpg?stp=dst-jpg_e0_s150x150&amp;_nc_ht=instagram.ffru9-1.fna.fbcdn.net&amp;_nc_cat=103&amp;_nc_ohc=2vmxX6LOPGUAX8WCw4K&amp;edm=AFDWGO4BAAAA&amp;ccb=7-5&amp;oh=00_AfBBFu3vgtbijZbvVwOVvYj4JvuMxeEWM2-sK_Tc2HnVRA&amp;oe=65E58D6A&amp;_nc_sid=7b9ede">
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="_a9zr">
                          <h3 class="_a9zc">
                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw3qccf x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                              <span class="xt0psk2">
                                <div>
                                  <a class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x1f6kntn xwhw2v2 xl56j7k x17ydfre x2b8uid xlyipyv x87ps6o x14atkfc xcdnw81 x1i0vuye xjbqb8w xm3z3ea x1x8b98j x131883w x16mih1h x972fbf xcfux6l x1qhh985 xm0m39n xt0psk2 xt7dq6l xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 x1n5bzlp xqnirrm xj34u2y x568u83" href="/around.kg/" role="link" tabindex="0">around.kg</a>
                                </div>
                              </span>
                            </div>
                          </h3>
                          <div class="_a9zs">
                            <span class="_ap3a _aaco _aacu _aacx _aad7 _aade" dir="auto">
                              <a class="x1i10hfl xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz notranslate _a6hd" href="/1alimkin/" role="link" tabindex="0">@1alimkin</a> показывает тем, кто видит фак 😏 </span>
                          </div>
                          <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x12nagc x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                            <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd xo1l8bm x1roi4f4 x1s3etm8 x676frb x10wh9bi x1wdrske x8viiok x18hxmgj" dir="ltr" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 16px;">
                              <a class="x1i10hfl xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a9zg _a6hd" href="/p/C34yx51szOz/c/17913134861814620/r/17934570026714493/" role="link" tabindex="0">
                                <time class="_a9ze _a9zf" datetime="2024-02-28T17:00:49.000Z" title="28 февраль 2024 г.">1 дн.</time>
                              </a>
                              <button class="_a9ze">
                                <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye x1fhwpqd x1s688f x1roi4f4 x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 16px;">Ответить</span>
                              </button>
                              <div class="x9f619 xjbqb8w x1rg5ohu x168nmei x13lgxp2 x5pf9jr xo71vjh x1emribx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"></div>
                              <div class="_a9ze">
                                <div class=" _a9zi">
                                  <div class="x1i10hfl x972fbf xcfux6l x1qhh985 xm0m39n x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk x78zum5 xl56j7k x1y1aw1k x1sxyh0 xwib8y2 xurb0ha xcdnw81" role="button" tabindex="0">
                                    <div class="x6s0dn4 x78zum5 xdt5ytf xl56j7k">
                                      <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 24px; width: 24px;">
                                        <svg aria-label="Действия с комментарием" class="x1lliihq x1n2onr6 x1roi4f4" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                          <title>Действия с комментарием</title>
                                          <circle cx="12" cy="12" r="1.5"></circle>
                                          <circle cx="6" cy="12" r="1.5"></circle>
                                          <circle cx="18" cy="12" r="1.5"></circle>
                                        </svg>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </span>
                          </div>
                        </div>
                      </div>
                      <span class="_a9zu">
                        <div class="xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x1ypdohk x15bjb6t x1a2a7pz xexx8yu x4uap5 x18d9i69 xkhd6sd">
                          <div class="x1i10hfl x972fbf xcfux6l x1qhh985 xm0m39n x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk x78zum5 xl56j7k xcdnw81 xexx8yu x4uap5 x18d9i69 xkhd6sd" role="button" tabindex="0">
                            <div class="x6s0dn4 x78zum5 xdt5ytf xl56j7k">
                              <span class="">
                                <svg aria-label="Нравится" class="x1lliihq x1n2onr6 xyb1xck" fill="currentColor" height="12" role="img" viewBox="0 0 24 24" width="12">
                                  <title>Нравится</title>
                                  <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path>
                                </svg>
                              </span>
                            </div>
                          </div>
                        </div>
                      </span>
                    </div>
                  </li>
                </div>
                <div role="button" class="x1qjc9v5 x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x78zum5 xdt5ytf x2lah0s xk390pu xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xggy1nq x11njtxf" tabindex="0">
                  <li class="_a9zj _a9zl _a9ye">
                    <div class="_a9zm">
                      <div class=" _a9zo">
                        <div class="">
                          <div>
                            <div class="_aarf _a9zp" aria-disabled="true" role="button" tabindex="-1">
                              <canvas class="_aarh" height="47" width="47" style="left: -5px; position: absolute; top: -5px; height: 42px; width: 42px;"></canvas>
                              <a class="x1i10hfl x1qjc9v5 xjbqb8w xjqpnuy xa49m3k xqeqjp1 x2hbi6w x13fuv20 xu3j5b3 x1q0q8m5 x26u7qi x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk x78zum5 xdl72j9 xdt5ytf x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 xzfakq x7imw91 x1j8hi7x x5aw536 x194ut8o x1vzenxt xd7ygy7 xt298gk xynf4tj xdspwft x1r9ni5o x1d52zm6 xoiy6we x15xhmf9 x1qj619r x15tem40 x1xrz1ek x1s928wv x1n449xj x2q1x1w x1j6awrg x162n7g1 x1m1drc7 x1ypdohk x4gyw5p _a6hd" href="/1alimkin/" role="link" tabindex="0" style="height: 32px; width: 32px;">
                                <img alt="Фото профиля 1alimkin" class="xpdipgo x972fbf xcfux6l x1qhh985 xm0m39n xk390pu x5yr21d xdj266r x11i5rnm xat24cr x1mh8g0r xl1xv1r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3" crossorigin="anonymous" draggable="false" src="https://instagram.ffru9-1.fna.fbcdn.net/v/t51.2885-19/419912541_401929685586766_6835441589528468490_n.jpg?stp=dst-jpg_e0_s150x150&amp;_nc_ht=instagram.ffru9-1.fna.fbcdn.net&amp;_nc_cat=110&amp;_nc_ohc=SUj-KdUtAoUAX8uXX1a&amp;edm=AFDWGO4BAAAA&amp;ccb=7-5&amp;oh=00_AfDPEBI1pBqH1jCPg5YaFOku0RTUqGrsu4HBHOdQMnF_tQ&amp;oe=65E50915&amp;_nc_sid=7b9ede">
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="_a9zr">
                          <h3 class="_a9zc">
                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw3qccf x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                              <span class="xt0psk2">
                                <div>
                                  <a class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x1f6kntn xwhw2v2 xl56j7k x17ydfre x2b8uid xlyipyv x87ps6o x14atkfc xcdnw81 x1i0vuye xjbqb8w xm3z3ea x1x8b98j x131883w x16mih1h x972fbf xcfux6l x1qhh985 xm0m39n xt0psk2 xt7dq6l xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 x1n5bzlp xqnirrm xj34u2y x568u83" href="/1alimkin/" role="link" tabindex="0">1alimkin</a>
                                </div>
                              </span>
                            </div>
                          </h3>
                          <div class="_a9zs">
                            <span class="_ap3a _aaco _aacu _aacx _aad7 _aade" dir="auto">
                              <a class="x1i10hfl xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz notranslate _a6hd" href="/around.kg/" role="link" tabindex="0">@around.kg</a> силер мага антпегиле, бул бет мисттин бети </span>
                          </div>
                          <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x12nagc x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                            <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd xo1l8bm x1roi4f4 x1s3etm8 x676frb x10wh9bi x1wdrske x8viiok x18hxmgj" dir="ltr" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 16px;">
                              <a class="x1i10hfl xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a9zg _a6hd" href="/p/C34yx51szOz/c/17913134861814620/r/18030051712740196/" role="link" tabindex="0">
                                <time class="_a9ze _a9zf" datetime="2024-02-28T17:02:04.000Z" title="28 февраль 2024 г.">1 дн.</time>
                              </a>
                              <button class="_a9ze">
                                <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye x1fhwpqd x1s688f x1roi4f4 x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 16px;">Ответить</span>
                              </button>
                              <div class="x9f619 xjbqb8w x1rg5ohu x168nmei x13lgxp2 x5pf9jr xo71vjh x1emribx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                <div class="x1i10hfl x1qjc9v5 xjbqb8w xjqpnuy xa49m3k xqeqjp1 x2hbi6w x13fuv20 xu3j5b3 x1q0q8m5 x26u7qi x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1o1ewxj x3x9cwd x1e5q0jg x13rtm0m x3nfvp2 x1q0g3np x87ps6o x1lku1pv x1a2a7pz" role="button" tabindex="0">
                                  <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye x1fhwpqd x1s688f x1roi4f4 x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 16px;">Показать перевод</span>
                                </div>
                              </div>
                              <div class="_a9ze">
                                <div class=" _a9zi">
                                  <div class="x1i10hfl x972fbf xcfux6l x1qhh985 xm0m39n x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk x78zum5 xl56j7k x1y1aw1k x1sxyh0 xwib8y2 xurb0ha xcdnw81" role="button" tabindex="0">
                                    <div class="x6s0dn4 x78zum5 xdt5ytf xl56j7k">
                                      <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 24px; width: 24px;">
                                        <svg aria-label="Действия с комментарием" class="x1lliihq x1n2onr6 x1roi4f4" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                                          <title>Действия с комментарием</title>
                                          <circle cx="12" cy="12" r="1.5"></circle>
                                          <circle cx="6" cy="12" r="1.5"></circle>
                                          <circle cx="18" cy="12" r="1.5"></circle>
                                        </svg>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </span>
                          </div>
                        </div>
                      </div>
                      <span class="_a9zu">
                        <div class="xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x1ypdohk x15bjb6t x1a2a7pz xexx8yu x4uap5 x18d9i69 xkhd6sd">
                          <div class="x1i10hfl x972fbf xcfux6l x1qhh985 xm0m39n x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk x78zum5 xl56j7k xcdnw81 xexx8yu x4uap5 x18d9i69 xkhd6sd" role="button" tabindex="0">
                            <div class="x6s0dn4 x78zum5 xdt5ytf xl56j7k">
                              <span class="">
                                <svg aria-label="Нравится" class="x1lliihq x1n2onr6 xyb1xck" fill="currentColor" height="12" role="img" viewBox="0 0 24 24" width="12">
                                  <title>Нравится</title>
                                  <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path>
                                </svg>
                              </span>
                            </div>
                          </div>
                        </div>
                      </span>
                    </div>
                  </li>
                </div>
              </ul>
            </li>
          </ul>
        </div>
        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1yztbdb x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
          <ul class="_a9ym">
            <div role="button" class="x1qjc9v5 x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x78zum5 xdt5ytf x2lah0s xk390pu xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xggy1nq x11njtxf" tabindex="0">
              <li class="_a9zj _a9zl">
                <div class="_a9zm">
                  <div class=" _a9zo">
                    <div class="_a9zr">
                      <div class="_a9zs">
                        <span class="_ap3a _aaco _aacu _aacx _aad7 _aade" dir="auto">Каьоны? 🙈</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </div>
            <li>
              <ul class="_a9yo">
                <li class="_a9yg">
                  <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xdj266r xat24cr x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                    <button class=" _acan _acao _acas _aj1- _ap30" type="button">
                      <div class="_a9yh"></div>
                      <span class="_a9yi">Посмотреть ответы (1)</span>
                    </button>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>