{% extends "crm/includes/dashboard/homepage.html" %}
{% load static %}
{% load my_filters %}
{% block content %}

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
           <div class="layout-wrap">
                <!-- preload -->
                <!-- <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div> -->
                <!-- /preload -->
                {% include 'crm/includes/dashboard/menu.html' %}
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    {% include 'crm/includes/dashboard/header.html' %}
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        <div class="main-content-inner">
                            <!-- main-content-wrap -->
                            <div class="main-content-wrap">
                                <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                                    <h3>Данные</h3>
                                    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                        <li>
                                            <a href="{% url 'crm_index' %}"><div class="text-tiny">Админ панель</div></a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <a href="#"><div class="text-tiny">Ecommerce</div></a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <div class="text-tiny">Product List</div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- product-list -->
                                <div class="wg-box">
                                    <div class="title-box">
                                        <i class="icon-coffee"></i>
                                        <div class="body-text">Данные модели</div>
                                    </div>
                                    <div class="flex items-center justify-between gap10 flex-wrap">
                                        <div class="wg-filter flex-grow">
                                            <div class="show">
                                                <div class="text-tiny">Показывать</div>
                                                <div class="select">
                                                    <select class="">
                                                        <option>10</option>
                                                        <option>20</option>
                                                        <option>30</option>
                                                    </select>
                                                </div>
                                                <div class="text-tiny">записи</div>
                                            </div>
                                            <form class="form-search">
                                                <fieldset class="name">
                                                    <input type="text" placeholder="Искать здесь..." class="" name="name" tabindex="2" value="" aria-required="true" required="">
                                                </fieldset>
                                                <div class="button-submit">
                                                    <button class="" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                        <a class="tf-button style-1 w208" href="{% url 'add_model' app_label=model_data.app_label model_name=model_data.model_name %}"><i class="icon-plus"></i>Добавить</a>
                                    </div>
                                    <style>
                                        .wg-table {
                                            display: flex;
                                            flex-direction: column;
                                            border: 1px solid #ccc;
                                        }

                                        .table-title {
                                            display: flex;
                                            border-bottom: 1px solid #ccc;
                                            padding: 8px 16px;
                                            font-weight: bold;
                                        }

                                        .table-title li {
                                            flex: 1;
                                            text-align: center;
                                        }

                                        .table-content {
                                            display: flex;
                                            flex-direction: column;
                                        }

                                        .product-item {
                                            display: flex;
                                            padding: 8px 8px;
                                        }

                                        .product-item .flex-grow {
                                            display: flex;
                                            flex: 1;
                                            justify-content: space-between;
                                        }

                                        .body-text {
                                            flex: 1;
                                            text-align: center;
                                        }
                                    </style>
                                    <div class="wg-table table-product-list">
                                        <ul class="table-title flex gap20 mb-14">
                                            {% for field in fields_info %}
                                            <li>
                                                <div class="body-title">{{ field.verbose_name }}</div>
                                            </li>   
                                            {% endfor %} 
                                        </ul>
                                        <ul class="flex flex-column">
                                            {% for obj in model_objects %}
                                            <li class="product-item gap14">
                                                <div class="flex items-center justify-between gap20 flex-grow">
                                                    {% for field in fields_info %}
                                                    <div class="body-text">
                                                        {{ obj|get_attribute:field.name }}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="flex items-center justify-between flex-wrap gap10">
                                        <div class="text-tiny">Showing 10 entries</div>
                                        <ul class="wg-pagination">
                                            <li>
                                                <a href="#"><i class="icon-chevron-left"></i></a>
                                            </li>
                                            <li>
                                                <a href="#">1</a>
                                            </li>
                                            <li class="active">
                                                <a href="#">2</a>
                                            </li>
                                            <li>
                                                <a href="#">3</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /product-list -->
                            </div>
                            <!-- /main-content-wrap -->
                        </div>
                        <!-- /main-content-wrap -->
                        <!-- bottom-page -->
                        <div class="bottom-page">
                            <div class="body-text">Copyright © 2024 Remos. Design with</div>
                            <i class="icon-heart"></i>
                            <div class="body-text">by <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a> All rights reserved.</div>
                        </div>
                        <!-- /bottom-page -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

{% endblock %}