{% extends "crm/includes/dashboard/homepage.html" %}
{% load static %}
{% block content %}
    <div id="wrapper">
        <div id="page" class="">
           <div class="layout-wrap">
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                {% include 'crm/includes/dashboard/menu.html' %}
                <div class="section-content-right">
                    {% include 'crm/includes/dashboard/header.html' %}
                    <div class="main-content">
                        <div class="main-content-inner">
                            <div class="main-content-wrap">

                                    <div class="wg-box" style = "grid-column: span 9/span 3 !important;">
                                        <div class="flex items-center justify-between">
                                            <h5>{{ app_verbose_name }}</h5>
                                        </div>
                                        <div class="wg-table table-product-overview">
                                            <ul class="table-title flex gap20 mb-14">
                                                <li>
                                                    <div class="body-title">Название</div>
                                                </li>    
                                                {% comment %}<li
                                                    >
                                                        <div class="body-title">Product ID</div>
                                                    </li>
                                                    <li>
                                                        <div class="body-title">Price</div>
                                                    </li>
                                                    <li>
                                                        <div class="body-title">Quantity</div>
                                                    </li>
                                                    <li>
                                                        <div class="body-title">Sale</div>
                                                    </li>
                                                    <li>
                                                        <div class="body-title">Revenue</div>
                                                    </li>
                                                    <li>
                                                        <div class="body-title">Status</div>
                                                    </li>
                                                {% endcomment %}
                                            </ul>
                                            <ul class="flex flex-column gap10">
                                                {% for model_data in models_data %}

                                                <li class="product-item gap14">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52" viewBox="0 0 48 52" fill="none">
                                                            <path d="M19.1094 2.12943C22.2034 0.343099 26.0154 0.343099 29.1094 2.12943L42.4921 9.85592C45.5861 11.6423 47.4921 14.9435 47.4921 18.5162V33.9692C47.4921 37.5418 45.5861 40.8431 42.4921 42.6294L29.1094 50.3559C26.0154 52.1423 22.2034 52.1423 19.1094 50.3559L5.72669 42.6294C2.63268 40.8431 0.726688 37.5418 0.726688 33.9692V18.5162C0.726688 14.9435 2.63268 11.6423 5.72669 9.85592L19.1094 2.12943Z" fill="#22C55E"/>
                                                        </svg>
                                                        {% comment %}<img src="{% static 'crm/images/products/6.png' %}" alt="">{% endcomment %}
                                                    <div class="flex items-center justify-between flex-grow">
                                                        <div class="name">
                                                            <a href="product-list.html" class="body-text" style="margin-right: 70%;">{{ model_data.name }}</a>
                                                            <div class="button-group" style="display: inline-flex; gap: 10px; align-items: center;">

                                                                <a href="{% url 'add_model' app_label=model_data.app_label model_name=model_data.model_name %}" class="tf-button" style="padding: 5px 10px; height: 26px;">Добавить</a>
                                                                <a href="#" class="tf-button" style="padding: 5px 10px; height: 26px;">Изменить</a>
                                                            </div>
                                                        </div>
                                                        
                                                        {% comment %} <div class="body-text">#327</div>
                                                        <div class="body-text">$11.70</div>
                                                        <div class="body-text">28</div>
                                                        <div class="body-text">On sale</div>
                                                        <div class="body-text">$328.85</div>
                                                        <div class="block-not-available">Not Available</div> {% endcomment %}
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="bottom-page">
                            <div class="body-text">© 2024 LeadHunter.</div>
                            <div class="body-text">Автор: <a href="https://www.instagram.com/codex_kg/">CodexStudio<i class="icon-heart"></i></a> Все права защищены. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}