{% load static %}
<div class="section-menu-left">
    <div class="box-logo">
        <div class="button-show-hide">
            <i class="icon-menu-left"></i>
        </div>
    </div>
    
    <div class="center">
        <div class="center-item">
            <div class="center-heading">Главная Страница</div>
            <ul class="menu-list">
                <li class="menu-item  active">
                    <a href="{% url 'crm_index' %}" class="menu-item-button">
                        <div class="icon"><i class="icon-grid"></i></div>
                        <div class="text">Панель приборов</div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="center-item">
            <div class="center-heading">Другие приложения</div>
            <ul class="menu-list">
                <li class="menu-item has-children active">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-layers"></i></div>
                        <div class="text">{{ app_verbose_name }}</div> <!-- Выводим название приложения -->
                    </a>
                    <ul class="sub-menu">
                        {% for model_data in models_data %}
                        <li class="sub-menu-item">
                            <a href="{% url 'crm_detail' app_label=model_data.app_label model_name=model_data.model_name %}" class=""> <!-- Замените 'model-list.html' на URL, соответствующий вашему приложению -->
                                <div class="text">{{ model_data.name }}</div> <!-- Выводим название модели -->
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="center-item">
            <div class="center-heading">Подключите нас</div>
            <ul class="wg-social">
                <li>
                    <a href="#"><i class="icon-facebook"></i></a>
                </li>
                <li >
                    <a href="#"><i class="icon-youtube"></i></a>
                </li>
                <li>
                    <a href="#"><i class="icon-github"></i></a>
                </li>
                <li>
                    <a href="#"><i class="icon-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>